<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imdbApiKey</key>
	<string>k_9z62tivv</string>
	<key>name</key>
	<string>development</string>
	<key>hostURL</key>
	<dict>
		<key>relative</key>
		<string>https://imdb-api.com/</string>
	</dict>
</dict>
</plist>
